.search{

    text-align: center;
  
}

/*::'''''''''''''
writter carosel
----------------*/
.humayun{
    margin-left: 40%;
    text-align: center;
}

.zafor{

      margin-left: 40%;

}

.selina{

      margin-left: 40%;
}
/*>সমরেশ মজুমদার</a>
               >হুমায়ুন আহমেদ</a>
                <a class="dropdown-item" href="#">মুহম্মদ জাফর ইকবাল</a>
                <a class="dropdown-item" href="#">সৈয়দ শামসুল হক</a>
                <a class="dropdown-item" href="#">জহির রায়হান</a>
                <a class="dropdown-item" href="#">সমরেশ মজুমদার</a>
                <a class="dropdown-item" href="#">তামিম শাহরিয়ার সুবিন</a>
                <a class="dropdown-item" href="#">আনিসুল হক</a>
                <a class="dropdown-item" href="#">আখতারুজ্জামান ইলিয়াস</a>
                <a class="dropdown-item" href="#">সাদাত হোসাইন</a>
                <a class="dropdown-item" href="#">চেতন ভগত</a>
                <a class="dropdown-item" href="#">সেলিনা হোসেন</a>
                <div class="dropdown-divider"></div>.<*/

             